@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap');
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6 rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}
