@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap');
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6 rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
    display: block;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.grid__column-6 {
    width: 50%;
    padding-left: 15px;
    padding-bottom: 90px;
    margin-top: -70px;
    z-index: 1;
}
.grid__column-3 {
    width: 25%;
    margin-top: 30px;
    padding-right: 28px;
    height: 100%;
}
.grid__column-4 {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto auto;
}
.sale__bottom__img-1 {
    grid-area: 1 / 1 / 3 / 2;
}
.sale__bottom__img-2 {
    grid-area: 1 / 2 / 2 / 3;
}
.sale__bottom__img-3 {
    grid-area: 1 / 3 / 2 / 4;
}
.sale__bottom__img-4 {
    grid-area: 1 / 4 / 1 / 4;
}
.sale__bottom__img-5 {
    grid-area: 2 / 3 / 2 / 5;
}
.grid__column-5 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media query for tablet & mobile */
@media only screen and (max-width: 1023px) {
    /* Header section */
    .hamburger-btn {
        display: block;
        margin-left: 30px;
    }
    .navbar__list {
        display: none;
    }
    .nav__search-btn {
        padding-right: 40px;
    }
    /* End Header section */

    /* Footer section */
    .footer__menu-instagram {
        display: none;
    }
    /* End Footer section/
}
/* Media query for tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Feature section */
    .grid__column-3 {
        width: 33.33%;
    }
    .feature-bottom {
        padding-left: 25px;
    }
    /* End Feature section */

    /* Sale section */
    .sale__content-4 {
        display: none;
    }
    .sale {
        margin-left: 20px;
        margin-right: 20px;
    }
    /* End Sale section */

    /* Email section */
    .email__form input[type='text'] {
        margin-left: 150px;
    }
    .email__form input[type='submit'] {
        margin-right: 150px;
    }
    /* End Email section */

    /* Footer section */
    .footer__menu-list {
        margin-left: -100px;
        padding-right: 20px;
    }
     
    /* End Footer section */
}
/*  Media query for mobile */
@media only screen and (max-width: 321px) {
    /* Hero setion */
    .hero {
        display: block;
    }
    .hero__title {
        transform: scale(0.8,0.8);
        padding-left: 0;
        padding-top: 30px;
    }
    .hero__img {
        padding-top: 20px;
    }
    /* End Hero section */

    /* Product section */
    .grid__column-6 {
        width: 100%;
        margin-top: -80px;
    }
    .product__img-1 {
        display: none;
    }
    /* End Product section */
    
    /* Feature section */
    .grid__column-3 {
        width: 50%;
        padding: 0 10px;
    }
    .feature__top h1 {
        padding: 0 20px;
    }
    .feature__nav {
        flex-wrap: wrap;
    }
    .feature__nav__title-active a {
        margin-bottom: 20px;
        display: block;  
    }
    /* End Feature section */

    /* Sale section */
    .sale__content-3 {
        display: none;
    }
    .sale__content-4 {
        display: none;
    }
    .sale__bottom__img-1 {
        display: none
    }
    .sale__bottom__img-3 {
        display: none
    }
    .sale__bottom__img-4 {
        display: none
    }
    .sale__bottom__img-5 {
        display: none
    }
    /* End Sale section */

     /* Email section */
     .email__form {
         padding-left: 10px;
     }
    /* End Email section */

     /* Footer section */
     .footer__menu-list {
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer_info__title {
        margin-left: 0;
    }
    /* End Footer section */
}